section#swans {
	background-attachment: fixed;
	background-size: cover;
	padding: 220px 0;

	.nav-tabs {
		display: inline-block;
		text-align: center;
		border: none;

		li a {
			background-color: rgba(255, 255, 255, 0.15);
			border: none;
			border-radius: 20px;
			margin: 10px;
		}

		li a:active,
		li a:focus,
		li a:hover {
			background-color: rgba(255, 255, 255, 0.50);
		}	
	}

	.tab-content {
		margin-top: 50px;

		.swan-text {
			padding: 50px;
			border-radius: 40px;
			background-color: rgba(0,0,0,0.35);

			.row {
				.panel {
					margin: 0 auto;
					float: none;
					border: none;
					background-color: transparent;

					h2 {
						margin-bottom: 50px;
					}

					p {
						margin-bottom: 20px;
					}

					img {
						border-radius: 10px;
						width: 100%;
					}
				}				
			}
		}

		.swan-calendar {
			.panel-heading {
				padding: 25px;
			}
		}

	}

}

