<!-- Portfolio Grid Section -->
{{ with .Site.Data.fears }}
<style>
{{ if .backgroundColor }}
#fears {
    background-color: {{ .backgroundColor }} !important;
}
{{ end }}

{{ if .titleSize }}
#fears .container > h2 {
    font-size: {{ .titleSize }}px !important;
    line-height: {{ mul .titleSize 1.375 }}px !important;
}
{{ end }}

{{ if .titleColor }}
#fears .container > h2 {
    color: {{ .titleColor }} !important;
}
{{ end }}

{{ if .titleMargin }}
#fears .container > h2 {
    margin: {{ .titleMargin }} !important;
}
{{ end }}

{{ if .lineColor }}
#fears .container > hr {
    border-color: {{ .lineColor }} !important;
}
{{ end }}

{{ if .textSize }}
#fears .container > p {
    font-size: {{ .textSize }}px !important;
    line-height: {{ mul .textSize 1.375 }}px !important;
}
{{ end }}

{{ if .textColor }}
#fears .container > p {
    color: {{ .textColor }} !important;
}
{{ end }}

{{ if .filterSize }}
#fears #filters li span {
    font-size: {{ .filterSize }}px !important;
    line-height: {{ mul .filterSize 1.375 }}px !important;
}
{{ end }}

{{ if .filterActiveColor }}
#fears #filters li .filter {
    color: {{ .filterActiveColor }} !important;
}
{{ end }}

{{ if .filterActiveTextColor }}
#fears #filters li .filter.active {
    color: {{ .filterActiveTextColor }} !important;
}
{{ end }}

{{ if .filterBorderColor }}
#fears #filters li .filter.active {
    background-color: {{ .filterBorderColor }} !important;
}
#fears #filters li .filter {
    border-color: {{ .filterBorderColor }} !important;
}
{{ end }}

{{ if .captionSize }}
#fears .caption-text .text-title {
    font-size: {{ .captionSize }}px !important;
    line-height: {{ mul .captionSize 1.175 }}px !important;
}
#fears .caption-text .text-category {
    font-size: {{ mul .captionSize 0.75 }}px !important;
    line-height: {{ mul .captionSize 1.0 }}px !important;
}
#fears .mix .portfolio-wrapper .caption {
    height: {{ add (mul .captionSize 2.5) 32 }}px !important;
    bottom: -{{ add (mul .captionSize 2.5) 32 }}px !important;
}
#fears .mix:hover .portfolio-wrapper .caption {
    bottom: 0px !important;
}
{{ end }}

{{ if .captionColor }}
#fears .caption-text .text-title {
    color: {{ .captionColor }} !important;
}
#fears .caption-text .text-category {
    color: {{ .captionColor }} !important;
}
{{ end }}

{{ if .captionBackgroundColor }}
#fears .caption-bg {
    background-color: {{ .captionBackgroundColor }} !important;
}
{{ end }}

{{ if .panelBackgroundColor }}
.portfolio-modal #grid-panel {box-shadow
    background-color: rgba( {{ .panelBackgroundColor }}, 0.3 ) !important;
    border-color: rgb( {{ .panelBackgroundColor }} );

}
.portfolio-modal #grid-panel h2 {
    background-color: rgb( {{ .panelBackgroundColor }} ) !important;    
}
{{ end }}

{{ if .panelColor }}
.portfolio-modal #grid-panel h2 {
    color: {{ .panelColor }} !important;
}
{{ end }}

{{ if .panelTitleSize }}
.portfolio-modal #grid-panel h2 {
    font-size: {{ .panelTitleSize }}px !important;
    line-height: {{ mul .panelTitleSize 1.375 }}px !important;
}
{{ end }}

{{ if .panelTitleColor }}
.portfolio-modal #grid-panel h2 {
    color: {{ .panelTitleColor }} !important;
}
{{ end }}

{{ if .panelTextSize }}
.portfolio-modal #grid-panel p {
    font-size: {{ .panelTextSize }}px !important;
    line-height: {{ mul .panelTextSize 1.375 }}px !important;
}
{{ end }}

{{ if .panelTextColor }}
.portfolio-modal #grid-panel p {
    color: {{ .panelTextColor }} !important;
}
{{ end }}


{{ range $i, $e := .elements }}
    {{ if .panelBackgroundColor }}
    #gridModal{{ $i }} #grid-panel {
        background-color: rgba( {{ .panelBackgroundColor }} ) !important;
        border-color: rgba( {{ .panelBackgroundColor }} );

    }
    #gridModal{{ $i }} #grid-panel h2 {
        background-color: rgb( {{ .panelBackgroundColor }} ) !important;    
    }
    {{ end }}

    {{ if .panelColor }}
    #gridModal{{ $i }} #grid-panel h2 {
        color: {{ .panelColor }} !important;
    }
    {{ end }}

    {{ if .captionSize }}
    #fears #portfolio{{ $i }} .caption-text .text-title {
        font-size: {{ .captionSize }}px !important;
        line-height: {{ mul .captionSize 1.175 }}px !important;
    }
    #fears #portfolio{{ $i }} .caption-text .text-category {
        font-size: {{ mul .captionSize 0.75 }}px !important;
        line-height: {{ mul .captionSize 1.0 }}px !important;
    }
    #fears #portfolio{{ $i }} .portfolio-wrapper .caption {
        height: {{ add (mul .captionSize 2.5) 32 }}px !important;
        bottom: -{{ add (mul .captionSize 2.5) 32 }}px !important;
    }
    #fears #portfolio{{ $i }}:hover .portfolio-wrapper .caption {
        bottom: 0px !important;
    }
    {{ end }}

    {{ if .captionColor }}
    #fears #portfolio{{ $i }} .caption-text .text-title {
        color: {{ .captionColor }} !important;
    }
    #fears #portfolio{{ $i }} .caption-text .text-category {
        color: {{ .captionColor }} !important;
    }
    {{ end }}

    {{ if .captionBackgroundColor }}
    #fears #portfolio{{ $i }} .caption-bg {
        background-color: rgba( {{ .captionBackgroundColor }} ) !important;
    }
    {{ end }}

{{ end }}

</style>

<section id="fears">
    <div class="container text-center wow fadeIn">
        <h2>{{ .title }}</h2>
        <p>{{ .subtitle | markdownify }}</p>
        <div class="row">
            <div class="col-lg-12">
                <div class="portfoliolist">
                    <!-- NOTE: You can add more items to the grid, or remove items you don't need! -->
                    {{ range $i, $e := .elements }}
                    <div class="mix {{ range .filters }}{{ . | replaceRE "[ ÄäÀàÁáÂâÃãÅåǍǎĄąĂăÆæĀāÇçĆćĈĉČčĎđĐďðÈèÉéÊêËëĚěĘęĖėĒēĜĝĢģĞğĤĥÌìÍíÎîÏïıĪīĮįĴĵĶķĹĺĻļŁłĽľÑñŃńŇňŅņÖöÒòÓóÔôÕõŐőØøŒœŔŕŘřẞßŚśŜŝŞşŠšȘșŤťŢţÞþȚțÜüÙùÚúÛûŰűŨũŲųŮůŪūŴŵÝýŸÿŶŷŹźŽžŻż]" "-" }} {{ end }}" id="portfolio{{ $i }}" {{ if not .content }}style="box-shadow: none"{{ end }} href="#">
                        <div class="portfolio-wrapper">
                            <a href="#gridModal{{ $i }}" data-toggle="modal">
                                <img src="{{ .image }}" alt="">
                                {{ if .content }}
                                <div class="caption">
                                    <div class="caption-text">
                                        <a class="text-title">{{ .captionTitle }}</a>
                                        <span class="text-category">{{ .captionCategory }}</span>
                                    </div>
                                    <div class="caption-bg"></div>
                                </div>
                                {{ end }}
                            </a>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>

    </div>
</section>

{{ range $i, $e := .elements }}
{{ if .content }}
<div class="portfolio-modal modal fade" id="gridModal{{ $i }}" tabindex="-1" role="dialog" aria-hidden="true" style="background-image: url('{{ .image }}')">
    <div class="modal-content" data-dismiss="modal">
        <div id="grid-panel">
            <h2>{{ .captionTitle }}</h2>
            <p>{{ .content | markdownify }}</p>
            {{ if .video }}
            <video controls>
                <source src="{{ .video }}" type="video/mp4">
            </video>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}
{{ end }}
{{ end }}
