
{{ with .Site.Data.nav }}
{{ "<!-- NAVIGATION -->" | safeHTML }}

<style>
{{ if .brandSize }}
    .navbar-brand {
        font-size: {{ .brandSize }} !important; 
    }
{{ end }}
{{ if .menuSize }}
    .navbar-nav > li > a {
        font-size: {{ .menuSize }} !important; 
    }
{{ end }}
{{ if .colorLight }}
    .navbar-brand {
        color: {{ .colorLight }} !important;
    }
    .navbar-nav > li > a {
        color: {{ .colorLight }} !important;
    }
{{ end }}
{{ if .colorDark }}
    .navbar-expanded .navbar-brand {
        color: {{ .colorDark }} !important;
    }
    .navbar-expanded .navbar-nav > li > a {
        color: {{ .colorDark }} !important;
    }
{{ end }}
</style>

<nav id="mainNav" class="navbar navbar-inverse navbar-fixed-top navbar-expanded">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">
                大學 Invisible University
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {{ range .menu }}
                    <li>
                        <a class="page-scroll" href="#{{ if .href }}{{ .href }}{{ else }}{{ .title | urlize }}{{ end }}">{{ .title }}</a>
                    </li>
                {{ end }}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
{{ end }}
