<!-- Quote Call to Action -->
{{ with .Site.Data.swans }}

<style>
{{ range $i, $e := .panels }}

{{ if .textSize }}
	#swan{{ $i }} div.quote p {
		font-size: {{ mul .textSize 1.0 }}px !important;
		line-height: {{ mul .textSize 1.2 }}px !important;
  }

  #swan{{ $i }} div.quote h2 {
		font-size: {{ mul .textSize 1.5 }}px !important;
		line-height: {{ mul .textSize 1.8 }}px !important;  	
  }

  #swan{{ $i }} #accordion p {
		font-size: {{ mul .textSize 1.5 }}px !important;
		line-height: {{ mul .textSize 1.7 }}px !important;  			
  }

  #swan{{ $i }} #accordion h2 span {
		font-size: {{ mul .textSize 1.7 }}px !important;
		line-height: {{ mul .textSize 1.9 }}px !important;  			
  }
{{ end }}
{{ if .textPadding }}
	#swan{{ $i }} .panel {
		padding: {{ mul .textPadding 0.266 }}px {{ mul .textPadding 0.666 }}px !important;
  }
{{ end }}

{{ if .textColor }}
	#swan{{ $i }} div.quote p,
	#swan{{ $i }} div.quote h2 {
		color: {{ .textColor }} !important;
  }
{{ end }}

{{ if .textColorPrimary }}
	#swan{{ $i }} div.quote .text-primary {
		color: {{ .textColorPrimary }} !important;
  }
{{ end }}

{{ if .buttonSize }}
	#swan{{ $i }} a.btn {
		font-size: {{ .buttonSize }}px !important;
  }	
{{ end }}

{{ if .buttonColor }}
	#swan{{ $i }} a.btn {
		color: {{ .buttonColor }} !important;
		border-color: {{ .buttonColor }} !important;
  }
{{ end }}

{{ if .lineColor }}
	#swan{{ $i }} hr {
		border-color: {{ .lineColor }} !important;
  }
{{ end }}

{{ if .opacity }}
	#swan{{ $i }} .transparent-border {
		border-color: rgba( 0, 0, 0, {{ add .opacity 0.05 }});
		background-color: rgba( 0, 0, 0, {{ .opacity }});
	}
{{ end }}

@media(min-width:768px) {
	{{ if .textPadding }}
		#swan{{ $i }} .panel {
			padding: {{ mul .textPadding 0.3 }}px {{ mul .textPadding 0.75 }}px !important;
	  }
	{{ end }}

	{{ if .textSize }}
		#swan{{ $i }} div.quote p {
			font-size: {{ mul .textSize 1.5 }}px !important;
			line-height: {{ mul .textSize 1.7 }}px !important;
	  }

	  #swan{{ $i }} div.quote h2 {
			font-size: {{ mul .textSize 2.7 }}px !important;
			line-height: {{ mul .textSize 3.0 }}px !important;  	
	  }

	  #swan{{ $i }} #accordion p {
			font-size: {{ mul .textSize 1.5 }}px !important;
			line-height: {{ mul .textSize 1.7 }}px !important;  			
	  }

	  #swan{{ $i }} #accordion h2 span {
			font-size: {{ mul .textSize 1.7 }}px !important;
			line-height: {{ mul .textSize 1.9 }}px !important;  			
	  }
	{{ end }}		
}

@media(min-width:992px) {
	{{ if .textPadding }}
		#swan{{ $i }} .panel {
			padding: {{ mul .textPadding 0.4 }}px {{ .textPadding }}px !important;
	  }
	{{ end }}

	{{ if .textSize }}
		#swan{{ $i }} div.quote p {
			font-size: {{ .textSize }}px !important;
			line-height: {{ mul .textSize 1.375 }}px !important;
	  }

	  #swan{{ $i }} div.quote h2 {
			font-size: {{ mul .textSize 1.7 }}px !important;
			line-height: {{ mul .textSize 2.0 }}px !important;  	
	  }

	  #swan{{ $i }} #accordion p {
			font-size: {{ .textSize }}px !important;
			line-height: {{ mul .textSize 1.375 }}px !important;  			
	  }

	  #swan{{ $i }} #accordion h2 span {
			font-size: {{ mul .textSize 1.175 }}px !important;
			line-height: {{ mul .textSize 1.275 }}px !important;  			
	  }
	{{ end }}
	}
{{ end }}

</style>
<section id="swans" class="cta-quote icon-section" background="{{ .backgroundImage }}" style="background-image: url('{{ .backgroundImage }}');">
	<div style="text-align:center;">
		<ul class="nav nav-tabs">
			{{ range $i, $e := .panels }}
		  <li><a class="swan-link" i="{{ $i }}" data-toggle="pill" href="#swan{{ $i }}" background="{{ .backgroundImage }}"><img src="{{ .icon }}" width="{{ .iconSize }}" class="img-responsive" /></a></li>
		  {{ end }}
		</ul>
	</div>

	<div class="tab-content">
		{{ range $i, $e := .panels }}
	  <div id="swan{{ $i }}" i="{{ $i }}" class="tab-pane fade">
	  	{{ if eq .type "Text" }}
	    <div class="container swan-text">
	        <div class="row">
	            <div class="panel transparent-border col-md-10 col-md-offset-1 wow fadeIn">
	                <div class="row">
		                <div class="col-xs-12 col-md-10 col-md-offset-1 quote">{{ .text | markdownify }}</div>
			            </div>
	        		</div>
	        </div>
	    </div>
	  	{{ else if eq .type "Calendar" }}
	    <div class="container swan-calendar">
				<div class="panel-group" id="accordion">
					{{ range $i1, $e1 := .events }}
				  <div class="panel panel-default">
				    <div class="panel-heading">
				      <h2 class="panel-title">
				        <a data-toggle="collapse" data-parent="#accordion" href="#calendar-collapse-{{ $i1 }}">
				        	<span class="date">{{ .date }}</span>
				        	<span class="title"><strong>{{ .title }}</strong></span>
				      	</a>
				      </h2>
				    </div>
				    <div id="calendar-collapse-{{ $i1 }}" class="panel-collapse collapse{{ if eq $i1 0 }} in{{ end }}">
				      <div class="panel-body">
				      	<p>{{ .text | markdownify }}</p>
				      </div>
				    </div>
				  </div>
				  {{ end }}
				</div> 
				<div>
					<p>För mer info besök fru konstnärs <a href="https://www.facebook.com/denhaltandeteatern/">facebooksida.</a></p>
				</div>   	
	    </div>
		  {{ end }}
	  </div>
	  {{ end }}
	</div>
</section>
{{ end }}