<!-- Services Section -->
<section id="process" class="services">
    {{ with .Site.Data.processes }}
    {{ $delay := .delay }}
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-12 wow fadeIn">
                    <h2>{{ .title | markdownify }}</h2>
                    <hr class="colored">
                    <p>{{ .subtitle | markdownify }}</p>
                </div>
            </div>
            <div class="row content-row">
                {{ range $index, $element := .processes }}
                    <div class="col-md-4 wow fadeIn" data-wow-delay="{{ mul $index $delay }}s">
                        <div class="media">
                            <div class="pull-left">
                                <i class="fa {{ .icon }}"></i>
                            </div>
                            <div class="media-body">
                                <h3 class="media-heading">{{ .process }}</h3>
                                <ul>
                                    {{ range .bullets }}
                                        <li>{{ . | markdownify }}</li>
                                    {{ end }}
                                </ul>
                            </div>
                        </div>
                    </div>
                {{ end }}
            </div>
            <div class="row text-center subline">
                <div class="col-lg-12 wow fadeIn">
                    <p>{{ .subline }}</p>
                </div>
            </div>
        </div>
    {{ end }}
</section>
